# Steadfast Courier Credentials
STEADFAST_EMAIL=your_steadfast_email@example.com
STEADFAST_PASSWORD=your_steadfast_password

# Pathao Courier Credentials
PATHAO_USERNAME=your_pathao_username
PATHAO_PASSWORD=your_pathao_password

# RedX Courier Credentials
REDX_PHONE_NUMBER=your_redx_merchant_phone_number
REDX_PASSWORD=your_redx_password

# PaperFly Courier Credentials
PAPERFLY_USERNAME=your_paperfly_username
PAPERFLY_PASSWORD=your_paperfly_password
