NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb://localhost:27017/DemoERP
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FRONTEND_URL=http://localhost:3002

# MiMSMS SMS API Configuration
MIM_SMS_API_BASE_URL=https://api.mimsms.com
MIM_SMS_USERNAME=your_username
MIM_SMS_APIKEY=your_api_key
MIM_SMS_SENDER_NAME=YourSenderName